<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href="./src/css/style.min.css" />
</head>
<body style="height:auto">
    
    <div id="app">
                <input type="text" v-model="search">
        <ul>
            <li class="block" v-for="item in items">
                <img :src=" item.image " alt="" class="imagem">
                <p class="paragrafos"> {{item.title}} </p>
                <h2> {{item.client}} </h2>
                <h1 class="teste-h1">{{item.id}}</h1>
                <p class="paragrafos"> {{item.created_at}} </p>
                <p class="paragrafos"> {{item.address}} </p>
                <a :href=" item.link "> {{ item.link}} </a>
                <p class="paragrafos"> {{item.contact}} </p>
                <p class="paragrafos"> {{item.locale}}</p>
                <p class="paragrafos"> {{item.production}}</p>
                <p class="paragrafos"> {{item.upgrade_at}}</p>
                <p class="paragrafos"> {{item.date_start}} - {{item.date_end}} </p>
                <p class="paragrafos"> {{item.hour_start}} - {{item.hour_end}} </p>
                <p class="paragrafos">- {{item.description}} -</p> 
            </li>
        </ul>

    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="./src/js/main.js"></script>
</body>
</html>
