$i: !important;
@media screen and (max-width: 550px){
    .menu{
        display: none $i;
    };
    .menu2{
        display: inline-flex $i;
    }
    .btn{
        width: 48.4px $i;
        height: 48px $i;
        justify-content:center;
    };
    .local{
        margin-left: 95px $i;
        margin-bottom: -40px $i;
    };
    .conteudo{
        padding-left: 64px !important;
        margin-left: 12px !important;
        margin-top: -60px $i;
        padding-bottom: 70px $i;
    };
    .link{
        margin-right: 10px $i;
    };
    // #app{
    //     padding-left: 20px $i;
    // };
    .busca{
      margin-right: 20px $i;
      justify-content: space-between;
    };
    .item-img{  
        width: 70px !important;
        height: 105px !important;
    };
    .imagem{
        width: 70px $i;
        height: 105px $i;
        object-fit: cover $i;
    };
}
@media screen and (max-width: 500px){
    .items{
        width: auto $i;
    };
    // .local{

    // };

    // .busca{
    //     margin-left: 30px;
    // };
    .entrada{
        width: 250px $i;
    }
    .entrada-img{
        display: none $i;
    };
    .btn-img{
        display: block $i;
    };
    .btn-p{
        display: none $i;
    };
    .tags{
        display: none $i;
    };
};
@media screen and (max-width: 960px){
    .tags{
        display: none $i; 
    };
    .conteudo{
        padding-left: 64px !important;
        margin-left: 12px !important;
        margin-top: -60px $i;
        padding-bottom: 70px $i;
    };
    .item-img{  
        width: 70px !important;
        height: 105px !important;
    };
    .imagem{
        width: 70px $i;
        height: 105px $i;
        object-fit: cover $i;
    };
    .items{
        width: auto $i;
    };
    .local{
        margin-left: 95px $i;
        margin-bottom: -40px $i;
    };
}
