@import 'media.scss';

*{
    margin: 0%;
    padding: 0%;
    border: 0px;
    font-family: 'Poppins', sans-serif;
};


.cabecalho{
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
};

.menu{
    margin-top: 0;
    list-style: none;
    li{     
        display: inline-block;
        margin-right: 29px;
        a{
            text-decoration: none;
            color: black;
            img{
                padding-top:6px;
                width: 25px;
                height: 25px;
                margin-bottom: -9px;
            }
        }
    }
};

#app{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top:114px;
};

.logo{
    width: 66px;
    height: 31px;
};

.titulo{
    color: #5e72e4;
    font-weight: 600;
    display: block;
};
.subtitulo{
    font-size: 43px;
    font-weight: 500;
    line-height: 1.3;
    color: #484848;
};
.busca{
    margin-top: 30px;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 #ececec;
    display: inline-flex;
};
.btn{
    display: inline-block;
    padding: 14px;
    line-height: 1.32;
    font-size: 19px;
    font-weight: 500;
    background-color: #5e72e4;
    border-radius: 5px;
};
.btn-img{
    display: none;
};
.btn-p{
    display: block;
    color: #fff;
}
.inp{
    margin-top: 9px;
};
.entrada{
    margin: 0px 5px;
    font-size: 19px;
    color: #767676;
    line-height: 1.58;
    
};
.entrada-img{
    display: inline-block;
    width: 24.1px;
    height: 24px;
    margin-bottom: -5px;
};
.secao{
    margin-top: 100px;
    margin-bottom: 30px;
    color: #484848;
    font-size: 26px;
    font-weight: 600;
};
.load{
    margin-top: 80px;
    display: inline-flex;
    justify-content: center;
};
.load-img{
    width: 97px;
    height: 97px;
};
.load-p{
    color: #767676;
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
};
.rodape{
    margin-left: 19%;
    display: inline-flex;
    align-items: center;
    color:  #767676;
    img{
        width: 46px;
        height: 22px;
    }
    p{
        font-size: 15px;
        color: #767676;
        line-height: 1.2;
    }
};
.linha{
    margin-top: 150px;
    height: 1px;
    width: 62%;
    background-color: #dbdbdb;
};
.items{
    display:inline-block;
    margin: 50px 0px;
    width: 960px;
};
.conteudo{
    margin-left: 88px;
    padding-left: 187px;
    margin-top: -140px;
    padding-bottom: 22px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 50px 0 #efefef;
};
.item-img{
    width: 240px;
    height: 187px;
}
.imagem{
    width: 240px;
    height: 187px;
};
.local{
    margin-left: 260px;
    margin-bottom: -40px;
    line-height: 1.82;
    letter-spacing: 0.1px;
    color: #002b37;
    font-size: 11px;
    font-weight: 600;
};
.title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #464646;
    margin-bottom: 10px;
    padding-top: 16px;
};
.horario{
    margin-bottom: 22px;
};
.link{
    border-radius: 5px;
    background-color: #5e72e4;
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px;
    float: right;
    margin-right: 74px;
};
.tags{
    display: inline-block;
    margin-top: 22px;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
};
.tag{
    margin-right: 19px;
    border-radius: 13px;
    background-color: #ff5661;
    letter-spacing: 0.1px;
    color: #ffffff;
    padding: 5px 15px;
}